{% extends "layout.html" %}

{% block content %}
<div class="layui-container" style="margin-top: 10px;">
    <div class="layui-card">
        <div class="layui-card-header">新建班级</div>
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">班级名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="class_name" required lay-verify="required" placeholder="请输入班级名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">班级编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="class_code" required lay-verify="required" placeholder="请输入班级编号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'layer'], function(){
        var form = layui.form;
        var layer = layui.layer;
        
        // 监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url: '/api/class/add',
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function(res){
                    if(res.code === 200){
                        layer.msg('添加成功', {
                            icon: 1,
                            time: 1000,
                            shade: 0.3,
                            shadeClose: true
                        }, function(){
                            window.location.href = '/class/manage';
                        });
                    }else{
                        layer.msg(res.msg || '添加失败', {
                            icon: 2,
                            time: 2000
                        });
                    }
                }
            });
            return false;
        });
    });
</script>
{% end %} 