<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录 - 答题卡识别系统</title>
    <link href="/static/css/layui.css" rel="stylesheet">
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/layui.all.js"></script>
</head>
<body>
    <div class="layui-container" style="margin-top: 100px;">
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset4">
                <div class="layui-card">
                    <div class="layui-card-header">登录</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="/login" method="post">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        layui.use(['form', 'layer'], function(){
            var form = layui.form;
            var layer = layui.layer;
            
            // 监听提交
            form.on('submit(formDemo)', function(data){
                $.ajax({
                    url: '/login',
                    type: 'POST',
                    data: data.field,
                    success: function(res){
                        if(res && res.code === 0){
                            layer.msg('登录成功', {
                                icon: 1,
                                time: 1000,
                                shade: 0.3,
                                shadeClose: true
                            }, function(){
                                window.location.href = '/';
                            });
                        } else {
                            layer.msg(res ? res.msg : '登录失败', {
                                icon: 2,
                                time: 2000,
                                shade: 0.3,
                                shadeClose: true
                            });
                        }
                    },
                    error: function(){
                        layer.msg('服务器错误，请稍后重试', {
                            icon: 2,
                            time: 2000,
                            shade: 0.3,
                            shadeClose: true
                        });
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html> 